<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Mesa</title>
</head>
<body>
<form th:action="@{/controllerHandler}" method="post">
    <select name="controllerChoice">
        <option value="ClienteView" th:selected="${controllerChoice == 'ClienteView'}">Cliente</option>
        <option value="BebidaView" th:selected="${controllerChoice == 'BebidaView'}">Bebida</option>
        <option value="ItemPedidoView" th:selected="${controllerChoice == 'ItemPedidoView'}">ItemPedido</option>
        <option value="MesaView" th:selected="${controllerChoice == 'MesaView'}">Mesa</option>
        <option value="PedidoView" th:selected="${controllerChoice == 'PedidoView'}">Pedido</option>
        <option value="PratoView" th:selected="${controllerChoice == 'PratoView'}">Prato</option>
    </select>
    <input type="submit" value="Mudar formulário">
</form>

<form th:action="@{/cadastro_mesa}" th:object="${mesa}" method="post">
    <label for="numero">Número da Mesa:</label><br>
    <input type="number" th:field="*{numero}" id="numero" name="numero"><br>
    <input type="submit" value="Cadastrar">
</form>
</body>
</html>