<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de Pedido</title>
</head>
<body>
<form th:action="@{/controllerHandler}" method="post">
    <select name="controllerChoice">
        <option value="ClienteView" th:selected="${controllerChoice == 'ClienteView'}">Cliente</option>
        <option value="BebidaView" th:selected="${controllerChoice == 'BebidaView'}">Bebida</option>
        <option value="ItemPedidoView" th:selected="${controllerChoice == 'ItemPedidoView'}">ItemPedido</option>
        <option value="MesaView" th:selected="${controllerChoice == 'MesaView'}">Mesa</option>
        <option value="PedidoView" th:selected="${controllerChoice == 'PedidoView'}">Pedido</option>
        <option value="PratoView" th:selected="${controllerChoice == 'PratoView'}">Prato</option>
        <option value="CardapioView" th:selected="${controllerChoice == 'CardapioView'}">Cardápio</option>
    </select>
    <input type="submit" value="Mudar formulário">
</form>

<form th:action="@{/cadastro_pedido}" th:object="${pedido}" method="post">
    <label for="cliente">Cliente:</label><br>
    <select th:field="*{cliente}" id="cliente" name="cliente">
        <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="${cliente.nome}"></option>
    </select><br>
    <div th:each="item : *{itens}" th:object="${item}">
        <label for="cardapio">Cardapio:</label><br>
        <select th:field="*{cardapio.id}" id="cardapio" name="cardapio">
            <option th:each="cardapio : ${cardapios}" th:value="${cardapio.id}" th:text="${cardapio.nome}"></option>
        </select><br>
        <label for="quantidade">Quantidade:</label><br>
        <input type="number" th:field="*{quantidade}" id="quantidade" name="quantidade"><br>
    </div>
    <input type="submit" value="Cadastrar">
</form>
<form th:action="@{/exibir_cardapio}" method="get">
    <button type="submit" class="btn">Exibir Cardápio</button>
</form>
</body>
</html>