<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Cadastro de Bebidas</title>
</head>
<body>
<form th:action="@{/controllerHandler}" method="post">
  <select name="controllerChoice">
    <option value="ClienteView" th:selected="${controllerChoice == 'ClienteView'}">Cliente</option>
    <option value="BebidaView" th:selected="${controllerChoice == 'BebidaView'}">Bebida</option>
    <option value="ItemPedidoView" th:selected="${controllerChoice == 'ItemPedidoView'}">ItemPedido</option>
    <option value="MesaView" th:selected="${controllerChoice == 'MesaView'}">Mesa</option>
    <option value="PedidoView" th:selected="${controllerChoice == 'PedidoView'}">Pedido</option>
    <option value="PratoView" th:selected="${controllerChoice == 'PratoView'}">Prato</option>
    <option value="CardapioView" th:selected="${controllerChoice == 'CardapioView'}">Cardápio</option>
  </select>
  <input type="submit" value="Mudar formulário">
</form>

<form th:action="@{/cadastro_bebidas}" th:object="${bebida}" method="post">
  <label for="nome">Nome:</label><br>
  <input type="text" th:field="*{nome}" id="nome" name="nome"><br>
  <label for="tipo">Tipo:</label><br>
  <input type="text" th:field="*{tipo}" id="tipo" name="tipo"><br>
  <label for="volume">Volume:</label><br>
  <input type="number" th:field="*{volume}" id="volume" name="volume"><br>
  <input type="submit" value="Cadastrar">
</form>
<form th:action="@{/exibir_cardapio}" method="get">
  <button type="submit" class="btn">Exibir Cardápio</button>
</form>
</body>
</html>