<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastro de ItemPedido</title>
</head>
<body>
<form th:action="@{/controllerHandler}" method="post">
    <select name="controllerChoice">
        <option value="ClienteView" th:selected="${controllerChoice == 'ClienteView'}">Cliente</option>
        <option value="BebidaView" th:selected="${controllerChoice == 'BebidaView'}">Bebida</option>
        <option value="ItemPedidoView" th:selected="${controllerChoice == 'ItemPedidoView'}">ItemPedido</option>
        <option value="MesaView" th:selected="${controllerChoice == 'MesaView'}">Mesa</option>
        <option value="PedidoView" th:selected="${controllerChoice == 'PedidoView'}">Pedido</option>
        <option value="PratoView" th:selected="${controllerChoice == 'PratoView'}">Prato</option>
    </select>
    <input type="submit" value="Mudar formulário">
</form>
<form th:action="@{/cadastro_itempedido}" th:object="${itemPedido}" method="post">
    <label for="cardapio">Cardapio:</label><br>
    <select th:field="*{cardapio}" id="cardapio" name="cardapio">
        <option th:each="cardapio : ${cardapios}" th:value="${cardapio.id}" th:text="${cardapio.nome}"></option>
    </select><br>
    <label for="quantidade">Quantidade:</label><br>
    <input type="number" th:field="*{quantidade}" id="quantidade" name="quantidade"><br>
    <input type="submit" value="Cadastrar">
</form>
</body>
</html>