<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Cadastro de Clientes e Bebidas</title>
</head>
<body>
<form th:action="@{/controllerHandler}" method="post">
  <select name="controllerChoice">
    <option value="ClienteView">Cliente</option>
    <option value="BebidaView">Bebida</option>
  </select>
  <input type="submit" value="Mudar formulário">
</form>

<form th:action="@{/cadastro_bebidas}" th:object="${bebida}" method="post">
  <label for="nome">Nome:</label><br>
  <input type="text" th:field="*{nome}" id="nome" name="nome"><br>
  <label for="tipo">Tipo:</label><br>
  <input type="text" th:field="*{tipo}" id="tipo" name="tipo"><br>
  <label for="volume">Volume:</label><br>
  <input type="number" th:field="*{volume}" id="volume" name="volume"><br>
  <input type="submit" value="Cadastrar">
</form>
</body>
</html>